In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv('sl1.csv')

In [3]:
df

   Area   Price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [7]:
features= df.drop(columns=['Price'])
features

   Area
0  2600
1  3000
2  3200
3  3600
4  4000

In [4]:
target= df[['Price']]
target

    Price
0  550000
1  565000
2  610000
3  680000
4  725000

In [10]:
x_train,x_test,y_train,y_test=train_test_split(features,target,train_size=0.7,random_state=10)

In [17]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3, 1)
(2, 1)
(3, 1)
(2, 1)