In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity,euclidean_distances

In [2]:
df= pd.read_csv('Movie.csv')

In [3]:
df.head()

   userId                    movie  rating
0       1           Jumanji (1995)     3.5
1       2  Grumpier Old Men (1995)     4.0
2       3         Toy Story (1995)     4.0
3       4              Heat (1995)     3.0
4       4         GoldenEye (1995)     4.0

In [4]:
df.shape

(8992, 3)

In [6]:
len(df.userId.unique())

4081

In [9]:
len(df.movie.unique())

10

In [13]:
len(df.rating.unique())

10

In [19]:
df.groupby('movie')['rating'].mean().sort_values(ascending=False)[:6]

movie
Toy Story (1995)       3.959323
Heat (1995)            3.836508
GoldenEye (1995)       3.427003
Sabrina (1995)         3.381429
Tom and Huck (1995)    3.352564
Jumanji (1995)         3.268398
Name: rating, dtype: float64

## Cosine_Similarity

### Item_based

In [79]:
df1= df.pivot_table(index='movie',columns='userId',values='rating')

In [80]:
df1.fillna(0,axis=1,inplace=True)

In [81]:
df1

userId,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
cos_similar=cosine_similarity(df1)

In [83]:
cos_similar.shape

(10, 10)

In [84]:
cos_similar[3]

array([0.24736744, 0.39773907, 0.2901502 , 1.        , 0.2800876 ,
       0.26207226, 0.25562862, 0.06285821, 0.40011642, 0.12402064])

In [85]:
df1.index

Index(['Father of the Bride Part II (1995)', 'GoldenEye (1995)',
       'Grumpier Old Men (1995)', 'Heat (1995)', 'Jumanji (1995)',
       'Sabrina (1995)', 'Sudden Death (1995)', 'Tom and Huck (1995)',
       'Toy Story (1995)', 'Waiting to Exhale (1995)'],
      dtype='object', name='movie')

In [86]:
def recommended_movie(movie_name):
    if movie_name in df1.index:
        index= np.where(movie_name==df1.index)[0][0]
        similar= sorted(list(enumerate(cos_similar[index])),reverse=True,key=lambda x: x[1])[1:6]
        print(f'Recommended movie of {movie_name}')
        print('*'*30)
        for movie in similar:
            print (df1.index[movie[0]])
    else:
        print('Movie is not in the list')

In [87]:
recommended_movie('Toy Story (1995)')

Recommended movie of Toy Story (1995)
******************************
Jumanji (1995)
Heat (1995)
GoldenEye (1995)
Grumpier Old Men (1995)
Sabrina (1995)

In [88]:
np.where('Sudden Death (1995)'==df1.index)[0][0]

6

In [89]:
similar=sorted(list(enumerate(cos_similar[6])),reverse=True,key=lambda x: x[1])[1:6]
for movie in similar:
    print (df1.index[movie[0]])

Heat (1995)
Grumpier Old Men (1995)
Father of the Bride Part II (1995)
Sabrina (1995)
Toy Story (1995)

In [90]:
list1=[1,2,3]

In [91]:
for i in enumerate(list1):
    print(i)

(0, 1)
(1, 2)
(2, 3)

### User_Based

In [92]:
df2= df.pivot_table(index='userId',columns='movie',values='rating')

In [93]:
df2.fillna(0,axis=1,inplace=True)

In [94]:
df2

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [96]:
arr=cosine_similarity(df2)

In [103]:
df4=pd.DataFrame(arr,index=df.userId.unique(),columns=df.userId.unique())

In [104]:
df4

,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
1,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
2,0.000000,1.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.458831,0.000000,0.000000
3,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
4,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.800000,0.000000,0.000000,0.000000,0.989949,0.000000,0.000000,0.619422,0.000000,0.000000
5,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.658505,0.000000,0.000000,0.000000
7116,0.000000,0.000000,0.752577,0.000000,0.000000,0.489886,0.000000,0.370543,0.752577,0.657870,...,0.000000,0.752577,0.000000,0.532152,0.000000,0.658505,1.000000,0.345306,0.752577,0.468511
7117,0.000000,0.458831,0.458831,0.619422,0.000000,0.701884,0.567775,0.889532,0.458831,0.568212,...,0.344124,0.458831,0.000000,0.324443,0.648886,0.000000,0.345306,1.000000,0.458831,0.476071
7119,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
7120,0.553372,0.000000,0.622543,0.000000,0.553372,0.765455,0.391293,0.306519,0.622543,0.544201,...,0.000000,0.622543,0.553372,0.831497,0.000000,0.000000,0.468511,0.476071,0.622543,1.000000

In [108]:
user=4
thershold=0.5

In [120]:
df4[df4[4]>0.5][4].sort_values(ascending=False)[1:6]

2843    1.0
5075    1.0
4337    1.0
4276    1.0
2577    1.0
Name: 4, dtype: float64

In [123]:
df[(df.userId==4)|(df.userId==4337)]

      userId             movie  rating
3          4       Heat (1995)     3.0
4          4  GoldenEye (1995)     4.0
5566    4337       Heat (1995)     3.0
5567    4337  GoldenEye (1995)     4.0

## Euclidean_Distance

### Item_based

In [124]:
df1= df.pivot_table(index='movie',columns='userId',values='rating')
df1.fillna(0,axis=1,inplace=True)

In [125]:
df1

userId,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
distance=euclidean_distances(df1)

In [128]:
def recommended_movie(movie_name):
    if movie_name in df1.index:
        index= np.where(movie_name==df1.index)[0][0]
        similar= sorted(list(enumerate(distance[index])),reverse=False,key=lambda x: x[1])[1:6]
        print(f'Recommended movie of {movie_name}')
        print('*'*30)
        for movie in similar:
            print (df1.index[movie[0]])
    else:
        print('Movie is not in the list')

In [129]:
df1.index

Index(['Father of the Bride Part II (1995)', 'GoldenEye (1995)',
       'Grumpier Old Men (1995)', 'Heat (1995)', 'Jumanji (1995)',
       'Sabrina (1995)', 'Sudden Death (1995)', 'Tom and Huck (1995)',
       'Toy Story (1995)', 'Waiting to Exhale (1995)'],
      dtype='object', name='movie')

In [130]:
recommended_movie('Grumpier Old Men (1995)')

Recommended movie of Grumpier Old Men (1995)
******************************
Sudden Death (1995)
Tom and Huck (1995)
Waiting to Exhale (1995)
Father of the Bride Part II (1995)
Sabrina (1995)

### User_based

In [131]:
df2= df.pivot_table(index='userId',columns='movie',values='rating')

In [132]:
df2.fillna(0,axis=1,inplace=True)

In [135]:
dist=euclidean_distances(df2)

In [178]:
df4=pd.DataFrame(dist,index=df.userId.unique(),columns=df.userId.unique())
df4

,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
1,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
2,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
3,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
4,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
5,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,5.315073,5.656854,5.656854,6.403124,5.000000,8.660254,5.830952,9.055385,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,0.000000,4.031129,9.591663,6.403124,8.261356
7116,6.363961,6.652067,3.500000,7.297260,6.103278,6.873864,6.800735,7.889867,3.500000,4.330127,...,5.678908,3.500000,5.678908,5.315073,6.800735,4.031129,0.000000,8.500000,3.640055,6.670832
7117,9.394147,7.745967,7.745967,6.855655,9.219544,6.403124,7.211103,4.000000,7.745967,7.176350,...,8.246211,7.745967,8.944272,8.717798,6.782330,9.591663,8.500000,0.000000,7.810250,8.261356
7119,6.103278,6.403124,1.000000,7.071068,5.830952,5.830952,6.557439,7.141428,1.000000,2.549510,...,5.385165,1.000000,5.385165,4.123106,6.557439,6.403124,3.640055,7.810250,0.000000,5.678908
7120,6.041523,8.261356,5.678908,8.789198,6.103278,5.123475,6.800735,9.069179,5.678908,6.184658,...,7.500000,5.678908,6.344289,4.031129,8.381527,8.261356,6.670832,8.261356,5.678908,0.000000

In [137]:
user=5
thershold=4

In [147]:
df4[df4[5]<4][5].sort_values()

4516    0.000000
343     0.000000
3483    0.000000
3585    0.000000
5818    0.000000
          ...
3097    3.937004
485     3.937004
2056    3.937004
421     3.937004
2361    3.968627
Name: 5, Length: 463, dtype: float64

In [146]:
df[(df.userId==5)|(df.userId==5818)]

      userId           movie  rating
5          5  Jumanji (1995)     3.0
7486    5818  Jumanji (1995)     3.0

### Pearson_correlation_cofficient(Adj_cos_similarity)

### User_based

In [150]:
df1= df.pivot_table(index='userId',columns='movie',values='rating')

In [151]:
df1.fillna(0,axis=1,inplace=True)

In [158]:
df2=df1.corr(method='pearson')
arr1=df2.values

In [160]:
def recommended_movie(movie_name):
    if movie_name in df2.index:
        index= np.where(movie_name==df2.index)[0][0]
        similar= sorted(list(enumerate(arr1[index])),reverse=True,key=lambda x: x[1])[1:6]
        print(f'Recommended movie of {movie_name}')
        print('*'*30)
        for movie in similar:
            print (df2.index[movie[0]])
    else:
        print('Movie is not in the list')

In [161]:
df2.index

Index(['Father of the Bride Part II (1995)', 'GoldenEye (1995)',
       'Grumpier Old Men (1995)', 'Heat (1995)', 'Jumanji (1995)',
       'Sabrina (1995)', 'Sudden Death (1995)', 'Tom and Huck (1995)',
       'Toy Story (1995)', 'Waiting to Exhale (1995)'],
      dtype='object', name='movie')

In [162]:
recommended_movie('Jumanji (1995)')

Recommended movie of Jumanji (1995)
******************************
Tom and Huck (1995)
GoldenEye (1995)
Father of the Bride Part II (1995)
Waiting to Exhale (1995)
Grumpier Old Men (1995)

### User_based

In [163]:
df1= df.pivot_table(index='movie',columns='userId',values='rating')

In [165]:
df1.fillna(0,axis=1,inplace=True)

In [168]:
df2=df1.corr(method='pearson')

In [169]:
df2

userId,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.111111,-0.111111,-0.164581,1.000000,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,1.000000,6.666667e-01,-0.166667,-0.111111,-0.166206,-0.351364,-0.111111,0.478986
2,-0.111111,1.000000,-0.111111,-0.164581,-0.111111,0.276176,0.666667,0.563854,-0.111111,-0.158763,...,-0.111111,-0.111111,-0.111111,-1.666667e-01,-0.166667,-0.111111,-0.166206,0.351364,-0.111111,-0.217721
3,-0.111111,-0.111111,1.000000,-0.164581,-0.111111,0.601090,-0.166667,0.398015,1.000000,0.861858,...,-0.111111,1.000000,-0.111111,6.666667e-01,-0.166667,-0.111111,0.720224,0.351364,1.000000,0.566074
4,-0.164581,-0.164581,-0.164581,1.000000,-0.164581,-0.312826,-0.246871,0.484273,-0.164581,0.244763,...,0.775880,-0.164581,-0.164581,-2.468710e-01,0.987484,-0.164581,-0.246188,0.483275,-0.164581,-0.322494
5,1.000000,-0.111111,-0.111111,-0.164581,1.000000,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,1.000000,6.666667e-01,-0.166667,-0.111111,-0.166206,-0.351364,-0.111111,0.478986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,-0.111111,-0.111111,-0.111111,-0.164581,-0.111111,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,-0.111111,-1.666667e-01,-0.166667,1.000000,0.609421,-0.351364,-0.111111,-0.217721
7116,-0.166206,-0.166206,0.720224,-0.246188,-0.166206,0.332115,-0.249308,0.132305,0.720224,0.576752,...,-0.166206,0.720224,-0.166206,4.155141e-01,-0.249308,0.609421,1.000000,0.035039,0.720224,0.299624
7117,-0.351364,0.351364,0.351364,0.483275,-0.351364,0.539420,0.395285,0.812868,0.351364,0.412401,...,0.175682,0.351364,-0.351364,7.314236e-18,0.527046,-0.351364,0.035039,1.000000,0.351364,0.137699
7119,-0.111111,-0.111111,1.000000,-0.164581,-0.111111,0.601090,-0.166667,0.398015,1.000000,0.861858,...,-0.111111,1.000000,-0.111111,6.666667e-01,-0.166667,-0.111111,0.720224,0.351364,1.000000,0.566074
7120,0.478986,-0.217721,0.566074,-0.322494,0.478986,0.668497,0.195949,-0.051994,0.566074,0.408867,...,-0.217721,0.566074,0.478986,7.837949e-01,-0.326581,-0.217721,0.299624,0.137699,0.566074,1.000000

In [170]:
user=8
thershold=0.7

In [177]:
df2[df2[8]>0.7][8].sort_values(ascending=False)[1:6]

userId
4831    0.992973
614     0.987937
2274    0.954622
5043    0.948926
5843    0.933903
Name: 8, dtype: float64